@page "/_pc/mining/checkinmining"
@inherits LockMiningComponentBase
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value=@PageTitle />
<PageContainer Title=@PageTitle>
    <ChildContent>
        <Row Gutter="24">
            <GridCol Class="col" Span="8">
            </GridCol>
            <GridCol Class="col" Span="8">
                <Space>
                    <SpaceItem>
                        <Text Code>@this.WebLocalString($"累计签到 {this.Count} 次",$"Accumulated check-in {this. Count} times")</Text>
                    </SpaceItem>
                    <SpaceItem>
                        <Button OnClick="Checkin" Type="@ButtonType.Primary" Size="large ">@this.WebLocalString("签到一次","Check-in once")</Button>
                    </SpaceItem>

                </Space>
            </GridCol>
            <GridCol Class="col" Span="8">
            </GridCol>
        </Row>
        <Row Gutter="24">
            <GridCol Class="col" Span="4">
            </GridCol>
            <GridCol Class="col" Span="16">
                @msg
            </GridCol>
            <GridCol Class="col" Span="4">
            </GridCol>
        </Row>
         <Row Gutter="24">
             <div style="padding:60px;">
                 <Paragraph>
                    @this.WebLocalString($"每10000个区块最多签到一次，每0.1eth余额将获得一个代币挖矿奖励，签到的次数越多代币锁定的时间越短",$"Every 10000 blocks can be checked in at most once, and every 0.1eth balance will receive a token mining reward. The more times you check in, the shorter the token locking time")
                 </Paragraph>
             </div>
        </Row>
    </ChildContent>
</PageContainer>